@media only screen and (max-width: 560px){
	.text {
		width: 60%;
    	margin: 7px 0;
    	border: 2px solid red;
    	padding: 13px 22px;
    	border-radius: 5px;
	}
	.slide-content{
		display: none;
	}

	.mob-main {
		display: block;
	}

	.mob-hide {
		display: none;
	}
}