{% extends "index.html" %}

{% block title %}About Us{% endblock %} 

{% block body%}
<div class="container">
	<div class="page-header">
		<h3>What is Nepal Internships?</h3>
	</div>
	<div class="row">
		<div class="col-sm-9 col-md-6">
			<p>“Nepal Internships” is a centralized platform where students can sign up for an account, look for internships, and choose to apply to either specific internship or create a common application to send to multiple companies or organizations which provide internship opportunities to the interested students. Similarly, companies can also sign up and post information about available internships which will be shared with the students. </p>
		</div>
		<div class="col-sm-3 col-md-6">
			<img src="/pics/the.gif" class="img-responsive">
		</div>
	</div>
	<div class="row mob-hide">
		<div class="col-sm-3 col-md-6">
			<img src="/pics/flag.ico">
			
		</div>
		<div class="col-sm-9 col-md-6">
			
		</div>
	</div>
</div>

{%endblock%}
