{% extends "index.html" %}

{% block title %}Internships{% endblock %} 

{% block body%}
<div class="col-sm-12">
	<div class="row" style="background-color: #c68c53; padding-top: 5px; padding-bottom: 5px">
		<div class="col-sm-6">
			<h1 style="color: #f3f3f3">Internships and Opportunities</h1>	
		</div>
		<div class="col-sm-6">
			<div class="search-input">
				<input type="search" name="search" placeholder="Search" style="border-radius: 8px;">
				<input type="submit" value="Search">
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class = "row">
		<div class="col-sm-3">
			<h3>Filters</h3>
			<br>

			<h4 style="color: #990000">Location</h4>
			<div class="row">
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="Kathmandu">
                        <span style="color: #3333ff">Kathmandu</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="lalitpur">
                        <span style="color: #3333ff">Lalitpur</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="bhaktapur">
                        <span style="color: #3333ff">Bhaktapur</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="pokhara">
                        <span style="color: #3333ff">Pokhara</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="bharatapur">
                        <span style="color: #3333ff">Bharatpur</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="location" type="checkbox" name="other">
                        <span style="color: #3333ff">Other</span>
                    </label>
				</div>
			</div>

			<hr>
			<h4 style="color: #990000">Subjects</h4>
			<div class="row">
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="agriculture">
                        <span>Agriculture</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="biology">
                        <span>Biology</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="business">
                        <span>Business</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="Chemistry">
                        <span>Chemistry</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="civil">
                        <span>Civil Engineering</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="computerscience">
                        <span>Computer Science</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="dentistry">
                        <span>Dentistry</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="information">
                        <span>Information Technology</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="journalism">
                        <span>Journalism</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="mechanical">
                        <span>Mechanical Engineering</span>
                    </label>
				</div>
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="pharmacy">
                        <span>Pharmacy</span>
                    </label>
				</div>	
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="physics">
                        <span>Physics</span>
                    </label>
				</div>	
				<div class="col-sm-12">
					<label>
						<input data-filter="related" type="checkbox" name="social">
                        <span>Social Work</span>
                    </label>
				</div>		
			</div>
		</div>

		<div class="col-sm-9" style="text-align: center;">
			<h3>Internships</h3>
			<br>
			<hr>
			{% for internship in internships %}
				<div class="col-sm-9">
					<div><a href="{{internship.website}}" target="_blank" class="cp-name">{{internship.companyname}}</a>, {{internship.location}}, {{internship.c_phone}}</div>
					<div>{{internship.intern_posi}}</div>
					<div>Contact: {{internship.c_email}}</div>
					<div>Application Deadline: {{internship.deadline}}</div>
					<div>Posted on: {{internship.created}} by <a href="/thiscompany/{{internship.postedby}}">{{internship.postedby}}</a></div>
					<hr>
				</div>
				<div class="col-sm-3">
					<button type="submit" class="submitbtn">Apply</button>
				</div>
			{% endfor %}
		</div>
	</div>
		
</div>

{%endblock%}
