{% extends "index.html" %}

{% block title %}My Profile{% endblock %} 

{% block body%}
<div class="container">
	<div class="col-sm-6">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>{{this_usr_name.first_name}} 's profile </th>
					<th><a href="/settings">Edit Profile</a></th>
				<tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>First Name</td>
					<td>{{this_usr_name.first_name}}</td>
				</tr>
				<tr class="info">
					<td>Last Name</td>
					<td>{{this_usr_name.last_name}}</td>
				</tr>
				<tr class="success">
					<td>Email</td>
					<td>{{this_usr_name.email}}</td>
				</tr>
				<tr class="info">
					<td>Phone</td>
					<td>{{this_usr_name.phone}}</td>
				</tr>
				<tr class="success">
					<td>Birthday</td>
					<td>{{this_usr_name.bday}}</td>
				</tr>
				<tr class="info">
					<td>Gender</td>
					<td>{{this_usr_name.gender}}</td>
				</tr>
				<tr class="success">
					<td>College</td>
					<td>{{this_usr_name.college}}</td>
				</tr>
				<tr class="info">
					<td>Address</td>
					<td>{{this_usr_name.address}}</td>
				</tr>
			</tbody>

		</table>
	</div>

	<div class="col-sm-6">
		<ul>
			
		</ul>	
	</div>
</div>
{%endblock%}